.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  height: 400px;
  box-shadow: -5px 5px 15px #000;
}

.card__body {
  display: flex;
  flex: 3;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

.card__footer {
  display: flex;
  flex: 1;
  padding: 25px;
  align-items: flex-end;
  justify-content: space-between;
}
